/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "materialize/extras/nouislider";
@import "intlTelInput";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
nav{
  background-color: #009E9A;
}
.iti-flag{
  background-image: image-url("flags.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url("path/to/flags@2x.png");}
}
.cover{
  position: fixed;
}

.mid{
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.btnm{
  margin-top: 320px;
  margin-left: 660px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.decision{
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.left{
    float: left;
    margin-right: 40px;
}
.right{
   float: left;
}
